* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color:#333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo h3{
   margin-right: 10px;
}

header .logo img {
    width: 50px; 
    height: auto;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

header nav a {
    text-decoration: none;
    color: blue;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.intro-content {
    background-color: #f9f9f9;  
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.intro-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro-content h2{
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.intro-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px
}

.intro-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.intro button a {
    color: white;
    text-decoration: none;
}

.intro-content button:hover {
    background-color: darkblue;
}

.intro-image img {
    max-width: 300px; 
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
#skills {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    background-color: #fff;
    justify-content: space-between; 
}

.skill {
    flex: 1 1 30%; 
    text-align: center;
    min-width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.icon {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 auto 15px;
}
    
.portfolio {
    padding: 40px 20px;
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
}

.testimonials {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.testimonials h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.testimonial {
    max-width: 300px;
    margin: 0 auto 20px;
}

.testimonial p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    padding: 40px 20px;
    text-align: center;
    background-color: violet;
    color: white;
}

footer h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

footer p {
    max-width: 600px;
    margin: 0 auto 20px;
}

footer button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff;
    color: violet;
    border: none;
    cursor: pointer;
}

.social-icons a {
    margin: 0 10px;
    color: blueviolet;
    text-decoration: none;
}